.Nav-Container {
    background-color: rgba(255, 159, 64, 1);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-style: none none solid none;
    worder-width: 3px;
    border-color: black;
  }


.Navi {
    display: flex;
    padding-top: 0.7rem;
    align-items: center;
    justify-content: center;
}


.Nav-Link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #000000; 
    padding: 0.5rem 1rem; 
    border: none;
    background-color: transparent; 
    text-decoration: none;
    cursor: pointer;
}

.Nav-Link:hover,
.Nav-Link:focus {
    background-color: #FFD700;
    color: black;
    border-style: solid solid none solid;
    worder-width: 3px;
    border-color: black;
}

.Charts-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

